<%- include('partials/header') %>

<div class="contanier vh-100 d-flex-column justify-content-center align-items-center">
    <h1 class="text-center my-4">Adicionar Usuários</h1>

    <% if(success) { %>
        <div class="alert alert-success w-50 text-center">
            Usuário cadastrado com sucesso!
        </div>
    <% } %>

    <% if(error) { %>
        <div class="alert alert-danger w-50 text-center">
            <%= error %>
        </div>
    <% } %>

    <form action="/users" method="POST" class="'w-50 border p-4 rounded">
        <div class="mb-3">
            <label for="name" class="form-lable">Nome</label>
            <input
                type="text"
                class="form-control"
                name="name"
                id="name"
                value="<%=old?.name || '' %>"
                required
            >
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                value="<%= old?.email || '' %>"
                required
            >
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
</div>


<%- include('partials/footer') %>