<%- include("partials/header") %>
 
<div class="container">
    <h1 class="text-center my-4">Listagem de usuário</h1>
 
    <table class="table table-striped tale-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td class="text-center">
                        <a href="/users/<%= user.id %>/edit" class="btn btn-sm btn-outline-warning me-2">Editar</a>
                       
                        <form action="/users/<%= user.id %>?_method=DELETE"
                            method="POST"
                            class="d-inline"
                            onsubmit="return confirm('Tem certeza que deseja excluir este usuário?')">
                       
                        <button class="btn btn-sm btn-outline-danger">
                            Excluir
                        </button>
                        </form>
                    </td>
                </tr>
               
            <% }) %>
        </tbody>
 
    </table>
</div>
 
<%- include("partials/footer") %>